body {
    background-color: black;
}
h1 {
    color: white;
    font-size: 75px;
}

.pagecolor {
    background-color: rgb(255, 0, 0);
}

.mainText {
    font-size: 25px;
}
#movielist {
    background-color: blue;
    border:chartreuse 4px solid
    /* can give movielist a width */
}

#mainImage {
    border:crimson;
    width: 500px
}
img {
    width: 35%
}

.specialimg {
    width: 25%
}

.secondaryText {
    font-size: 20px;
    color: white;
}
h2 {
    color: white;
    font-size: 30px;
}

nav {
    border: solid darkblue 2px;
    display: flex;
    align-items: center;
    width: 400px;
}
